.story{
    border:  3px solid rgb(143, 207, 82);
}
.switch{
    font-weight: bolder;
    font-weight: 600;
}
.sgstn{
   font-weight: 600;
   font-size: small;
}
.flw{
    font-size: small;
}
.flwaa{
  font-size: x-small; 
  margin-left: 20px;
}
.white{
    background-color: white;
}

 @media only screen and (max-width: 600px) {
.aside{display: none;}

.imgpro{
    height:300px;
    width: 250px;
}
.nav {
    max-width: 375px;
}
  } 